@import "partials/variables";
// @import "libs/normalize";
@import "partials/global";
@import "functions/colfunction";
@import "partials/mediaqueries";
@import "partials/grid";

@import "partials/typography";


header {
    @include grid-container($container);
    padding: $pad;
    h1 { text-align: center; font-size: 3.5rem; font-weight: 700; }
}
