@each $end in $ends {
  @for $i from 1 through $end {
    $single--column: (100 - (($end - 1)*$gutter )) / $end;
    .sm--col_#{$i}-#{$end} {
      @include break-max($break--small) {
        float: left;
        width: ($i*$single--column) + (($i - 1)*$gutter);
        @if $i != $end {
          margin-right: $gutter;
          &:last-child { margin-right: 0; }
        }
      }
      @include break-max($break--medium) {
        float: none;
        width: 100%;
      }
    }
  }
}
